node-red/flows.json
[
    {
        "id": "ad73bdad8cc955a0",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "73170085d42a0281",
        "type": "http in",
        "z": "ad73bdad8cc955a0",
        "name": "",
        "url": "/assistant",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "80912dbefdb8b36b",
                "76df4dade2fc891e",
                "ae05fd2b65d86ad2",
                "73feb93123fd5ff0",
                "6301da4cc523b419",
                "230ee5ccb822defa"
            ]
        ]
    },
    {
        "id": "80912dbefdb8b36b",
        "type": "switch",
        "z": "ad73bdad8cc955a0",
        "name": "Включить музыку",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^(?:включи(ть)?\\s+)?(музыку|play music|трек|подкаст|стендап)\\s*",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 550,
        "y": 260,
        "wires": [
            [
                "5ef95c3071e4083f",
                "76df4dade2fc891e"
            ]
        ]
    },
    {
        "id": "5ef95c3071e4083f",
        "type": "function",
        "z": "ad73bdad8cc955a0",
        "name": "Обработка хука включи музыку",
        "func": "let command = msg.payload.command;\n\n// Регулярка для удаления командных слов\nconst regex = /^(?:включи(ть)?\\s+)?(музыку|play music|трек|подкаст|стендап)\\s*/i;\n\n// Удаляем командную часть\nlet searchQuery = command.replace(regex, \"\").trim();\n\n// Если запрос пустой, подставляем случайный стиль музыки или категорию\nif (!searchQuery) {\n    const randomGenres = [\"rock\", \"jazz\", \"lofi\", \"electronic\", \"hip-hop\", \"blues\"];\n    searchQuery = `${randomGenres[Math.floor(Math.random() * randomGenres.length)]} track`;\n}\n\nmsg.payload = `ytsearch1:${searchQuery}`;\nmsg.originalPayload = `ytsearch1:${searchQuery}`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "76df4dade2fc891e",
                "d9df1868684e2ef5"
            ]
        ]
    },
    {
        "id": "d86ed226bd859f09",
        "type": "exec",
        "z": "ad73bdad8cc955a0",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Загрузка",
        "x": 1240,
        "y": 660,
        "wires": [
            [
                "76df4dade2fc891e"
            ],
            [
                "090c067a9ef639e9",
                "76df4dade2fc891e"
            ],
            []
        ]
    },
    {
        "id": "090c067a9ef639e9",
        "type": "exec",
        "z": "ad73bdad8cc955a0",
        "command": "pkill mpg123; mpg123",
        "addpay": "filePath",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Воспроизведение",
        "x": 1310,
        "y": 800,
        "wires": [
            [],
            [
                "76df4dade2fc891e"
            ],
            []
        ]
    },
    {
        "id": "76df4dade2fc891e",
        "type": "debug",
        "z": "ad73bdad8cc955a0",
        "name": "Отладка",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 970,
        "y": 480,
        "wires": []
    },
    {
        "id": "ae05fd2b65d86ad2",
        "type": "switch",
        "z": "ad73bdad8cc955a0",
        "name": "Выключить музыку",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(выключи(ть)? музыку|выключи(ть)? радио)",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 190,
        "y": 260,
        "wires": [
            [
                "1f166586193f4068",
                "76df4dade2fc891e"
            ]
        ]
    },
    {
        "id": "1f166586193f4068",
        "type": "exec",
        "z": "ad73bdad8cc955a0",
        "command": "killall mpg123; rm -f /tmp/music*",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Остановка воспроизведения",
        "x": 210,
        "y": 340,
        "wires": [
            [],
            [
                "76df4dade2fc891e"
            ],
            []
        ]
    },
    {
        "id": "d9df1868684e2ef5",
        "type": "function",
        "z": "ad73bdad8cc955a0",
        "name": "Initialize Filename",
        "func": "msg.basePath = \"/tmp\";\nmsg.baseName = \"music\";\nmsg.extension = \".mp3\";\nmsg.counter = 0;\nmsg.filePath = `${msg.basePath}/${msg.baseName}${msg.extension}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 520,
        "wires": [
            [
                "76df4dade2fc891e",
                "9cc430f8a112c243"
            ]
        ]
    },
    {
        "id": "51855565b16a0a28",
        "type": "exec",
        "z": "ad73bdad8cc955a0",
        "command": "test -f",
        "addpay": "filePath",
        "append": "&& echo \"exists\" || echo \"not_exists\"",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Check File Exists",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "2403ef764707f9e9"
            ],
            [
                "76df4dade2fc891e"
            ],
            []
        ]
    },
    {
        "id": "2403ef764707f9e9",
        "type": "switch",
        "z": "ad73bdad8cc955a0",
        "name": "File Exists?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^exists",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "^not_exists",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 740,
        "wires": [
            [
                "7208f3c81754cbde",
                "76df4dade2fc891e"
            ],
            [
                "5b8827a4b00e5c24"
            ]
        ]
    },
    {
        "id": "7208f3c81754cbde",
        "type": "function",
        "z": "ad73bdad8cc955a0",
        "name": "Increment Counter",
        "func": "msg.counter++;\nmsg.filePath = `${msg.basePath}/${msg.baseName}_${msg.counter}${msg.extension}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 800,
        "wires": [
            [
                "76df4dade2fc891e",
                "9cc430f8a112c243"
            ]
        ]
    },
    {
        "id": "9cc430f8a112c243",
        "type": "template",
        "z": "ad73bdad8cc955a0",
        "name": "Prepare Test Command",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "test -f {{{filePath}}} && echo exists || echo not_exists",
        "output": "str",
        "x": 310,
        "y": 580,
        "wires": [
            [
                "51855565b16a0a28"
            ]
        ]
    },
    {
        "id": "5b8827a4b00e5c24",
        "type": "template",
        "z": "ad73bdad8cc955a0",
        "name": "Формирование команды",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "yt-dlp -o {{{filePath}}} -x --audio-format mp3 --no-playlist --max-downloads 1 --match-filter \"duration <= 1200\" \"{{originalPayload}}\"",
        "output": "str",
        "x": 730,
        "y": 740,
        "wires": [
            [
                "d86ed226bd859f09",
                "76df4dade2fc891e"
            ]
        ]
    },
    {
        "id": "73feb93123fd5ff0",
        "type": "switch",
        "z": "ad73bdad8cc955a0",
        "name": "Включить радио",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "(включи(ть)? радио|turn on radio)\\s*(\\d+|.+)?",
                "vt": "str",
                "case": true
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "8fe38e1f48694b57"
            ]
        ]
    },
    {
        "id": "8fe38e1f48694b57",
        "type": "function",
        "z": "ad73bdad8cc955a0",
        "name": "Список радио",
        "func": "msg.stations = {\n    \"НАШЕ РАДИО\": \"http://nashe1.hostingradio.ru/nashe-128.mp3\",\n    \"RADIO Культура Rock\": \"http://icecast.vgtrk.cdnvideo.ru/kulturafm_mp3_192kbps\",\n    \"RADIO Шансон Rock\": \"http://chanson.hostingradio.ru:8041/chanson256.mp3\",\n    \"RADIO РОссии Rock\": \"http://icecast.vgtrk.cdnvideo.ru/rrzonam_mp3_192kbps\",\n    \"Radio Revolution\": \"http://revolutionradio.ru:8000/live.mp3\",\n    \"Radio ChiplDuk\": \"http://radio.4duk.ru/4duk128.mp3\",\n    \"Veda Radio\": \"http://listen.vedaradio.fm:8000/high?1458508335793.mp3\",\n    \"Radio 107 Krasnodar 107.7 FM\": \"http://62.183.34.109:8000/radio107_256.mp3\",\n    \"Kunel Radio\": \"http://live.kunelradio.ru:8000/128.mp3\",\n    \"Rock FM  Mocow 95.2\": \"http://nashe1.hostingradio.ru/rock-128.mp3\",\n    \"Radio Express\": \"http://159.253.18.97:8000/128kbit.mp3\",\n    \"L-Radio Chelyabinsk 104.9 FM\": \"http://96mp3.lradio.ru:8000/lradio.stereo.96.mp3\",\n    \"Militseyskaya Volna\": \"http://radio.mvd.ru:8000/mv128.mp3\",\n    \"101.ru - Радио ИСКАТЕЛЬ\": \"http://iskatel.hostingradio.ru:8015/iskatel-128.mp3\",\n    \"RUSRadio\": \"http://radio.city.kg:8000/rusradio.mp3\",\n    \"Retro FM -  80s\": \"http://retro80.hostingradio.ru:8025/retro80-128.mp3\",\n    \"Retro FM - 70s\": \"http://retro70.hostingradio.ru:8025/retro70-128.mp3\",\n    \"Retro FM - 90s\": \"http://retro90.hostingradio.ru:8025/retro90-128.mp3\",\n    \"Radio Rossii Kabardino-Balkaria 70.52 FM\": \"http://31.41.56.29:8000/radio.mp3\",\n    \"Avtoradio Omsk 106.8 FM\": \"http://www.omskfm.ru:8000/1068-128.mp3\",\n    \"Radio Shanson MSK\": \"http://chanson.hostingradio.ru:8041/chanson128.mp3\",\n    \"Radio GovoritMoskva 94.8 FM\": \"http://video.govoritmoskva.ru:8000/rufm_m.mp3\",\n    \"Radio Europa Plus Perm 89.4 FM\": \"http://emgregion.hostingradio.ru:8064/perm.europaplus.mp3\",\n    \"RockMix Radio\": \"http://cabhs33.sonixcast.com:9272/stream/1/?cb=521609.mp3\",\n    \"Radio Europa Plus - ResiDance\": \"http://emg02.hostingradio.ru/ep-residance128.mp3\",\n    \"Radio Europa Plus - New\": \"http://emg02.hostingradio.ru/ep-new128.mp3\",\n    \"Radio Europa Plus - Light\": \"http://emg02.hostingradio.ru/ep-light128.mp3\",\n    \"Radio Europa Plus - Party\": \"http://epdop.hostingradio.ru:8033/epparty128.mp3\",\n    \"Radio Europa Plus - Acoustic\": \"http://epdop.hostingradio.ru:8033/acoustic128.mp3\",\n    \"Radio Europa Plus Moscow 106.2 FM\": \"http://ep64server.streamr.ru:8033/europaplus64.mp3\",\n    \"Radio Europa Plus SPB 100.5 FM\": \"http://emgspb.hostingradio.ru/europaplusspb128.mp3\",\n    \"Radio Silver Rain Moscow 100.1 FM\": \"http://213.59.4.27:8000/silver128.mp3\",\n    \"Radio Nashe FM 2.0\": \"http://nashe1.hostingradio.ru/nashe20-128.mp3\",\n    \"Radio Nahe FM SPB 104.0\": \"http://nashe1.hostingradio.ru/nashespb128.mp3\",\n    \"Radio Mariya FM Kirov 102.9 MHZ\": \"http://mariafm.ru:8000/maria-fm.mp3\",\n    \"Radio Dorognoe Dance in Russian\": \"http://dor2server.streamr.ru:8000/dorognoe1945.mp3\",\n    \"Radio Best FM Moscow 100.5\": \"http://best.streamr.ru/best-128.mp3\",\n    \"Radio Jazz FM 89.1\": \"http://jazz.streamr.ru/jazz-128.mp3\",\n    \"Radio Jazz FM - Jazz Vocals\": \"http://cfm.jazzandclassic.ru:14534/jvstream.mp3\",\n    \"Radio Jazz FM - Smooth Jazz\": \"http://cfm.jazzandclassic.ru:14534/sjstream.mp3\",\n    \"Radio Classic FM 100.9\": \"http://jfm1.hostingradio.ru:14536/rcstream.mp3\",\n    \"Radio Jazz FM - Jazz Legends\": \"http://cfm.jazzandclassic.ru:14534/jlstream.mp3\",\n    \"Radio Jazz FM - Classic Jazz\": \"http://cfm.jazzandclassic.ru:14534/ijstream.mp3\",\n    \"Radio Alania FM Vladikavkaz 104.5\": \"http://vgtrk15.hostingradio.ru:8011/vgtrk15128.mp3\",\n    \"Radio Iskatel\": \"http://iskatel.hostingradio.ru:8015/iskatel-128.mp3\",\n    \"Radio Miliczejskaya Volna Barnaul 107.8 FM\": \"http://radio.mvd.ru:8000/mv128.mp3\",\n    \"Radio Bereg Narratives Moscow\": \"http://radio-tochka.com:6180/;stream.mp3\",\n    \"Radio Bereg Gospel Moscow\": \"http://radio-tochka.com:6095/;stream.mp3\",\n    \"Literary radio\": \"http://79.137.234.183:8000/;stream.mp3\",\n    \"Radio Podsolnuh 102.9 FM\": \"http://live.podsolnuh.media:8000/radio#.mp3\",\n    \"Dance Wave!\": \"http://dancewave.online/dance.mp3\",\n    \"Dance Wave Retro!\": \"http://retro.dancewave.online/retrodance.mp3\",\n    \"Radio Svoe\": \"http://svoeradiofm.hostingradio.ru:8032/svoe-128.mp3\",\n    \"Radio Komsomolskaya Pravda Barnaul 106.8 FM\": \"http://kpradio.hostingradio.ru:8000/barnaul.radiokp128.mp3\",\n    \"Radio Litradio\": \"http://79.137.234.183:8000/;stream.mp3\",\n    \"Radio Miliceyskaya volna Novokuznetsk\": \"http://radio.mvd.ru:8000/mv128.mp3\",\n    \"Кекс FM 89.9\": \"http://nashe1.hostingradio.ru/nashe-128.mp3\",\n    \"«Юлдаш» радиоһы\": \"http://radio.mediacdn.ru/uldash.mp3\",\n    \"Radio Sputnik Ufo 107.0 FM\": \"http://radio.mediacdn.ru/sputnik_fm.mp3\",\n    \"Radiokrylya\": \"https://myradio24.org/rkradio_320.mp3\",\n    \"«Ашҡаҙар» - МОҢЛО РАДИО\": \"http://radio.mediacdn.ru/ashkadar.mp3\",\n    \"Radio Orpheus 99.2 FM\": \"http://orfeyfm.hostingradio.ru:8034/orfeyfm128.mp3\",\n    \"Ashkadar fm\": \"http://radio.mediacdn.ru/ashkadar.mp3\",\n    \"Радио Кавказ Хит 105.9 FM\": \"http://kavkazhit.hostingradio.ru:8017/kavkazhit96.mp3\"\n};\nmsg.defaultStation = \"НАШЕ РАДИО\";\nmsg.defaultStationUrl = msg.stations[msg.defaultStation];\nmsg.command = msg.payload.command;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 220,
        "wires": [
            [
                "21b8b6c2f2c82ed3"
            ]
        ]
    },
    {
        "id": "21b8b6c2f2c82ed3",
        "type": "function",
        "z": "ad73bdad8cc955a0",
        "name": "Поиск радиостанции",
        "func": "let command = msg.command.toLowerCase();\nlet regex = /^(включи(ть)? радио|turn on radio)\\s*(\\d+|.+)?$/i;\nlet match = command.match(regex);\n\nif (match) {\n    let stationIdentifier = match[3] ? match[3].trim() : \"\";\n    let stationUrl = msg.defaultStationUrl;\n\n    console.log(stationIdentifier, parseInt(stationIdentifier), !isNaN(parseInt(stationIdentifier)))\n    if (stationIdentifier) {\n        if (!isNaN(parseInt(stationIdentifier))) {\n            // Если stationIdentifier - число, выбираем станцию по номеру\n            let stationIndex = parseInt(stationIdentifier, 10) - 1;\n            let stationKeys = Object.keys(msg.stations);\n            if (stationIndex >= 0 && stationIndex < stationKeys.length) {\n                let stationName = stationKeys[stationIndex];\n                stationUrl = msg.stations[stationName];\n            }\n            console.log(stationUrl)\n        } else {\n            // Если stationIdentifier - текст, выбираем станцию по названию\n            let lowerIdentifier = stationIdentifier.toLowerCase();\n            for (let [name, url] of Object.entries(msg.stations)) {\n                if (name.toLowerCase() === lowerIdentifier) {\n                    stationUrl = url;\n                    break;\n                }\n            }\n        }\n    }\n\n    msg.stationUrl = stationUrl;\n    global.set(\"currentPlayback\", \"radio\");\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 220,
        "wires": [
            [
                "76df4dade2fc891e",
                "96751c439bf1f21b"
            ]
        ]
    },
    {
        "id": "96751c439bf1f21b",
        "type": "exec",
        "z": "ad73bdad8cc955a0",
        "command": "pkill mpg123; mpg123",
        "addpay": "stationUrl",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Проигрывание радио",
        "x": 1520,
        "y": 320,
        "wires": [
            [
                "76df4dade2fc891e"
            ],
            [
                "76df4dade2fc891e"
            ],
            []
        ]
    },
    {
        "id": "230ee5ccb822defa",
        "type": "function",
        "z": "ad73bdad8cc955a0",
        "name": "Громкость",
        "func": "let command = msg.payload.command.toLowerCase();\nif (/сделай (радио|музыку) тише/i.test(command)) {\n    msg.volumeCommand = \"amixer set Master 10%-\";\n}\nif (command.includes(\"всю громкость\") || command.includes(\"на всю мощь\") || command.includes(\"максимальную громкость\")) {\n    msg.volumeCommand = \"amixer set Master 100%\";\n}\nif (/сделай (радио|музыку) громче/i.test(command)) {\n    msg.volumeCommand = \"amixer set Master 10%+\";\n}\nif (command.includes(\"выключи звук\") || command.includes(\"тихо\")) {\n    msg.volumeCommand = \"amixer set Master 0%\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 120,
        "wires": [
            [
                "cd56db34d1085f70",
                "76df4dade2fc891e"
            ]
        ]
    },
    {
        "id": "cd56db34d1085f70",
        "type": "exec",
        "z": "ad73bdad8cc955a0",
        "command": "",
        "addpay": "volumeCommand",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Изменение громкости",
        "x": 1060,
        "y": 120,
        "wires": [
            [
                "76df4dade2fc891e"
            ],
            [],
            []
        ]
    },
    {
        "id": "6301da4cc523b419",
        "type": "http response",
        "z": "ad73bdad8cc955a0",
        "name": "Ответ Google-Assistant",
        "statusCode": "200",
        "headers": {},
        "x": 610,
        "y": 40,
        "wires": []
    }
]